04 FastAPI/01 Learning/Tutorial User Guide/__pycache__/main.cpython-38.pyc
04 FastAPI/01 Learning/Tutorial User Guide/__pycache__/pydantic.cpython-38.pyc
04 FastAPI/01 Learning/Tutorial User Guide/.my_env/*
04 FastAPI/01 Learning/Virtual_Environment/.my_env/*